*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
#banner{
    width: 100%;
    height: 638px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("about_banner.png");

    
    
}
#navbar img{
    width: 100px;
    
    margin-top: 10px;
}
#navbar{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
#navbar ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
#top-section{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
#top-section h1{
    font-size: 65px;
    margin-top: 20px;
}
#top-section p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.btn{
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    
    
}
h2{
    font-size: 40px;
}
p{
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
}
#bedroom{
    width: 100%;
    height: 500px;
    background-color: #ccc;
    padding: 2% 7%;
    box-sizing: border-box;
}
#dining{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    padding: 2% 7%;
    box-sizing: border-box;
}
#kitchen{
    width: 100%;
    height: 500px;
    background-color: #ccc;
    padding: 2% 7%;
    box-sizing: border-box;
}
#backyard{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    padding: 2% 7%;
    box-sizing: border-box;
}
footer{
    width: 100%;
    padding: 10px 7%;
    box-sizing: border-box;
    color: white;
    background-color: black;
}